<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>

</head>

<body id="LoginForm">
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2 th:text="#{tituloLogin}">!</h2>
                <p th:text="#{mensajeLogin}"></p>
            </div>
            <form id="Login" method="POST" action="/">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" th:placeholder="#{placeholderUsuario}" required autofocus>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" th:placeholder="#{placerholderContrasena}" required>
                </div>

                <button type="submit" class="btn btn-primary" th:text="#{botonEntrar}"></button>
            </form>
        </div>
    </div>
</div>

</div>

</body>
</html>
